body{
  margin:0;
  padding:0;
}
a{
  text-decoration:none;
}
.t{
  margin-left:auto;
  margin-right:auto;
  width:1000px;
  height:100px;
}
.t img{
  width:100px;
}
#q{
  width:200px;
  padding-bottom:12px;
}
.t .q_1{
	width:340px;
	height: 100px;
	float: right;
}
.d{
  width:100%;
  height:600px;
	background:#de112e;
}
.dd1{
	width:970px;
	height:570px;
	margin:0 auto;
	padding-top:30px;
}
.dd1 img{
	width:600px;
	height:570px;
}
.d1{
	float:right;
	width:360px;
  height:465px;
  margin-left:auto;
	margin-right:auto;
	margin-top:40px;
	background-color:#ffffff;
}
.d2{
	width:360px;
	height:51px;
  background-color:#ffffff;
	border-bottom: 1px solid #ffffff;
}
.d3{
	width:300px;
	height:51px;
	margin-left:auto;
	margin-right:auto;
}
.d4{
	width:360px;
	height:504px;
}
.d5{
	width:300px;
	height:414px;
	margin: 0 auto;
}
.d6{
	width:300px;			
}
.d6 a{
	color:#666; 
	font-size:14px; 
}
.d6 a:hover{
	color:#de112e; 
}
.d7{
  width:300px;
	height:40px;
} 
.d7 input{
	width:300px;
	height:40px;
	margin:0 auto;
}
.d7 input:hover{
	cursor: pointer; /* 改变鼠标的悬停时的样式 pointer 小手样式 */
}
.kongge{
	width:300px;
	height:19px;
}
.zhu{
	margin:0;
	float:left;
	font-size:25px;
	margin-top: 10px;
  color:#666;
}
.denglu{
  padding-top:7px;
	float:right;
  font-size:14px;
}
/* 请输入用户名文本框 */
#yong{
	padding-left:40px;
	width:248px;
	height:32px;
	background-image: url('../img/小图标4.png');
	background-repeat: no-repeat; /* 背景图不平铺 */
	background-position: 8px 8px; /* 背景图x y 轴的移动 */
	position: relative;
}
/* 错了的话文本框 */
.yong_1{
	background-image:url("../img/ok.png"); 
	margin:-33px 0 0 300px;
	position: absolute;
	width:20px;
	height:20px;
}
.yong_1,.yong_2,.yong_4,.yong_5{
	background-repeat:no-repeat;
  background-position:left center;
	display:block;
}
.yong_2,.yong_4,.yong_5{
	background-image:url("../img/err.png"); 
	position: absolute;
	padding: 0 0 0 20px;
	border: 1px solid #de112e;
	margin:-33px 0 0 300px;
	background-color:#ddd;
	color:red; 
}
.yong_2{
	width:210px;
}
/* 空的  */
.yong_3 span{
	display: none;
}
/* 判断密码 */
.yong_4{
	width:100px;
}
/* 判断手机号 */
.yong_5{
	width:136px; 
}
/* 请输入密码6-12个字符 文本框 */
#mima{
	padding-left:40px;
	width:248px;
	height:32px;
	background-image: url('../img/小图标3.png');
	background-repeat: no-repeat; /* 背景图不平铺 */
	background-position: 8px 8px; /* 背景图x y 轴的移动 */
}
#shouji{
	padding-left:40px;
	width:248px;
	height:32px;
	background-image: url('../img/小图标2.png');
	background-repeat: no-repeat; /* 背景图不平铺 */
	background-position: 8px 8px; /* 背景图x y 轴的移动 */
}
#yan{
	width:106px;
  height:32px;
	padding-left:40px;
	background-image: url('../img/小图标1.png');
	background-repeat: no-repeat; /* 背景图不平铺 */
	background-position: 8px 8px; /* 背景图x y 轴的移动 */
		}
.yan2{
	float:right;
  padding-top:16px;
	padding-right:38px;
}
.w{
  width:990px;
  margin:0 auto;
}
.s{
  padding-bottom: 30px;
  text-align: center;
}
.s .link a{
  margin: 0 10px;
  color:#000000;
  text-decoration: none;
}
