
/* 锚点连接 */
#scroll {
  position:fixed; 
  top:300px; 
  right:100px;
}
.scrollItem {
  width:20px; 
  height:70px;
  border:#e1e1e1 1px solid; 
  cursor: pointer; 
  text-align: center; 
  padding-top: 10px;
}
body{
  margin:0;
  padding:0;
  list-style-type:none;
   background: rgb(240,243,239);
  background-attachment: fixed;  
}
#a{
  width:100%;
  height:140px;
  }
/*头上的导航栏*/ 
#a .a_1{
  width: 100%;
  height: 30px;
  border: 1px solid #e3e4e5;
  background: #e3e4e5;
  box-shadow: 2px 2px 3px #ccc; /*阴影 四个值： 水平 垂直 散光 颜色*/
} 
.a_1 .a_1_1{
  width:1190px;
  height: 30px;
  margin:0 auto;
}
.a_1 .a_1_1 ul{
  float: right;
  list-style: none;
  width:718px;
  height: 30px;
  margin:0;
  padding: 0;
}
.a_1 .a_1_1 ul>li>a{
 text-decoration: none;
 color: #999;
 font-size: 12px;
}
.a_1 .a_1_1 ul>li{
  margin:3px 3px 0 8px;
  float: left;
}
.a_1_1 .a_1_1_a1:hover{
  color: #fd0505;
}
.a_1_1 #a_1_1_a2{
  color: #fd0505;
}
.a_1_1 .a_1_1_span{
  color: #999;
  margin: 0;
}
.b{
  width:100%;
  height:169px;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
}
.b-1{
  width:1190px;
  height:169px;
  margin:-32px auto;
}
/*商标*/
.b-1 .b-shang{
  width:200px;
  height:169px;
  float: left;
  background: #fff;
}
.b-1 .b-shang-img{
  margin:0 51px;
}
.b-1 .b-shang-zi{
  margin:0 25px;
  height:60px;
}
/*内容 input搜索框*/
.b-1 .b-2{
  width:1190px;
  height:45px;
  margin:0 auto;
}
.b-1 .b-2 .b-text{
  width:550px;
  height:35px;
  margin:50px auto 0 auto;
}
.b-1 .b-2 .b-text>input{
  width:500px;
  height:35px;
  margin:0 auto;
  border: 0;
  padding: 0;
  position: relative;
}
.b-2 .b-text .b-span{
  width: 19px;
  height: 15px;
  position: absolute;
  margin: 10px 0px 0px -32px;
  background-image:url("../img/小相机1.png"); 
}  
.b-2 .b-text .b-span:hover{
  background-image:url("../img/小相机2.png"); 
}
.b-2 .b-text .b-z{
  width:50px;
  height:35px;
  background: #fd0505;
  margin: -35px 0px 0px 500px;
}
.b-2 .b-text .b-z>img{
  width:24px;
  height:24px;
  margin: 6px 12px;
}
/* 购物车 */
.b-2 .b-gouwu{
  width:190px;
  height:35px;
  background: #fff;
  float: right;
  margin-top: -35px;
}
.b-2 .b-gouwu>img{
  margin: 8px 0px 0 50px;
}
.b-2 .b-gouwu>span{
  margin: 8px 30px 0 0;
  color: #fd0505;
  text-decoration: none;
  float: right;
}
/* 内容 上面的 搜索框 下面的文字 */
.b-1 .b-3{
  width:550px;
  height:20px;
  margin:auto;
}
.b-1 .b-3 .b-3-ul{
  margin:0;
  padding: 0;
  list-style: none;
}
#b-3-li{
  color:#fd0505;
}
.b-1 .b-3 .b-3-ul>li{
  color:#888;
  margin-right:10px;
  float: left;
  font-size: 12px;
}
.b-1 .b-3 .b-3-ul>li:hover{
  color:#fd0505;
}
/* 内容 下面的导航栏 */
.b-1 .b-4{
  width:790px;
  height:40px;
  margin:15px auto 0 auto;
}
.b-1 .b-4 .b-4-ul{
  margin:0;
  padding: 0;
  list-style: none;
}
.b-1 .b-4 .b-4-ul .b-4-xie{
  color:#888;
}
.b-4 .b-4-ul li{
  color:#000;
  margin:10px 0 0 25px;
  float: left;
  font-size: 14px;
}
.b-4 .b-4-ul li:hover{
  color:#fd0505;
}
/*背景图*/
.beijin{
  width:100%;
  height:100%;
  background: url("../img/背景图.png") 50% 0px no-repeat;
}
#c{
  width:1190px;
  height:500px;
  margin:30px auto;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
}
/* 侧边栏导图 左边 */
.d{
  width:200px;
  height:480px;
  float:left;
  background:#fff;
}
.d .d_text{
  color:#626262;
  font-size:15px;
}
.d .d_x{
  color:#626262;
}
.d a{
  text-decoration:none;
  }
.d li:hover{
  background:#e8e8e8;
}
.d .d_text:hover{
  color:#fd0505;
}
.d ul{
  list-style:none;
  padding:10px;
  margin-top:-6px;
}
.d ul li{
  list-style:none;
  margin:0px 0px 10px 0px;
}
/* 侧边栏导图 左边 显示的内容 */
.d .d_1{
  width:1000px;
  height:490px;
  z-index: 1;
  position: absolute;
  margin:165px 0 0 180px;
  display: none;   
  background: #fff;
  box-shadow:0px 0px 10px #DDDDDD; /* 阴影 */
}
/* 显示的内容 文本框 */
.d_1 .d_2{
  width:772px;
  height:460px;
  margin:10px 0 0 12px;
  float: left;
}
/* 横排显示的文字 标题 */
.d_2 .d_3{
  width: 600px;
  height:30px;
  border: 1px solid #fff;
}
.d_2>.d_3>ul{
  list-style: none;
}
.d_2>.d_3>ul>li{
  float: left;
  background: #222;
  margin-right: 12px;
}
.d_2>.d_3>ul>li>a{
  color:#fff;
  font-size: 12px;
  padding: 0 5px;
}
.d_2>.d_3>ul>li:hover{
  background: rgb(78, 66, 66);
}
/* 内容 */
.d_2 .d_4{
  width: 772px;
  height:428px;
  margin-left:8px;
}
.d_2>.d_4>ul{
  margin-left: -8px;
}
.d_2>.d_4>ul>li{
  float: left;
  background: #fff;
}
.d_2>.d_4>ul>.d_ul_li{
  width:68px;
  text-align: right;
}
.d_2>.d_4>ul>.d_ul_li>a{
  color:#000;
  font-size: 12px;
  font-weight: 700;
}
.d_2>.d_4>ul>li>a{
  color:#666;
  font-size: 12px;
}
.d_2>.d_4>ul>.d_ul_li>a:hover{
  color:#fd0505;
}
.d_2>.d_4>ul>li>a:hover span{
  color:#666;
}
.d_2>.d_4>ul>li>a:hover{
  color:#fd0505;
}
/* 显示的内容 右边的图片 */
.d_1>.d_3{
  width:169px;
  height:145px;
  float: right;
  margin:15px 12px 0 0;
}
/* 显示的内容 右边的图片 下面两张*/
.d_1>.d_5{
  width:169px;
  height:270px;
  float: right;
  margin:15px 12px 0 0;
}
/* 侧边栏导图 右边的内容 */
.p{
  width:980px;
  height:480px;
  float: right;
  position: relative;
}
/* 侧边栏导图 左边 内容 */
.p .d_1{
  width:980px;
  height:480px;
  border: 1px solid #000;
  position: absolute;
  background: #fff;
}
/*轮播图*/
#e{
  width:580px;
  height:480px;
  margin:0 1px;
  float: left;
  position: relative;
}
/*轮播图右边的小图*/
.n{
  width:190px;
  height:480px;
  position: relative;
  float: left;
  margin-left: 8px;
}
.n .n_1{
  width:190px;
  height:150px;
  margin-bottom: 12px;
}
.n .n_1 .n_bai{
  width:190px;
  height:150px;
  position: absolute;
  margin-top:-154px; 
}
.n .n_1 .n_bai:hover{
  animation: donghua2 0.5s;
  animation-fill-mode:forwards;
}
/*最右边*/
#f{
  width:190px;
  height:480px;
  background: #fff;
  float: left;
  margin-left: 8px;
}
/*最右边 登录注册*/
#f .f_img{
  width:55px;
  height:55px;
  margin:0 66px;
}
#f .f_1{
  width:190px;
  height:140px;
}
#f .f_1 .f_2{
  width:190px;
  height:40px;
}
#f .f_2 p{
  width:170px;
  height:20px;
  margin:1px 10px;
  text-align: center;
  color: #888;
  font-size:12px;
}
#f .f_2 p>a{
  text-align: center;
  font-size:12px;
  color: #000;
  text-decoration: none; /*去除a标签的下划线*/
}#f .f_2 p>a:hover{
  color: #e43f3b;
}
#f .f_3{
  width:190px;
  height:25px;
  margin-top:8px;
}
#f .f_3 .f_3_a1{
  margin-left:35px;
}
#f .f_3 .f_3_a{
  width:70px;
  height:25px;
  border-radius:12px;
  background: #363634;
  font-size: 12px;
  padding: 5px 5px;
  color:#e5d790;
  text-decoration: none;
}
#f .f_3 .f_3_a:hover{
  border: 1px solid #e43f3b;
  background: #e43f3b;
  color:#fff;
}
/*分界线*/
#f .f_hr{
  width:180px;
  height:1px;
  background: #888;
  margin:0 auto;
}
/*最右边 culb快报*/
#f .f_4{
  width:190px;
  height:130px;
  margin:5px 0;
}
#f .f_4 .f_4_1{
  width:190px;
  height:27px;
  position: relative;
}
#f .f_4 .f_4_1>h5{
  font-size: 13px;
  margin-left: 15px;
  color: #1e1e1e;
  margin:5px;
}
#f .f_4 .f_4_1>a{
  position: absolute;
  text-decoration: none;
  right: 12px;
  top: 1px;
  font-size: 12px;
  color: #999;
}
#f .f_4 .f_4_1>a:hover{
  color: #e43f3b;
}
#f .f_5{
  list-style-type: none;
  padding: 0px 0px;
  margin:0;
}
#f .f_5>li>a{
  text-decoration: none;
  color:#000;
  font-size: 14px;
}
#f .f_5>li{
  margin:3px 0;
}
#f .f_5>li>a:hover{
  color:#e43f3b;
}
#f .f_5>li>a>.f_5_span{
  width:35px;
  height:16px;
  color: #fff;
  font-size: 12px;
  margin-left:5px;
  margin-right: 10px;
  padding: 2px 5px;
  border-radius: 5px;
  background: #90b0c6;
}
#f .f_5>li>a>.f_5_s2{
  background: #e0b95a;
}
#f .f_5>li>a>.f_5_s3{
  background: #e47f7f;
}
/*最右边 最下面的*/
#f .f_6{
  width:190px;
  height:190px;
  margin-top:6px;
}
#f .f_6>ul{
  width:168px;
  height:165px;
  padding: 0;
  margin:10px auto;
  list-style-type: none;
}
#f ul .f_6_1{
  width:40px;
  height:53px;
  float: left;
}
#f ul .f_6_1 a{
  text-decoration: none;
}
#f ul .f_6_1 .f_6_img{
  margin:8px 8px;
}
#f ul .f_6_1 p{
  color:#999;
  font-size: 12px;
  margin:0 6px;
  margin-top:-5px;
}
#f ul .f_6_1 .f_p{
  margin:0 1px;
  margin-top:-5px;
}
#f ul .f_6_1 p:hover{
  color:#e47f7f;
}
/*小轮播图*/
.w{
  width:1190px;
  height:320px;
  margin:-30px auto;
}
.w .w_left{
  width:200px;
  height:275px;
  background: #fff;
  float: left;
}
.w .wimg{
  width:180px;
  height:260px;
  margin:8px auto;
  position: relative;
}
.w .wimg>img{
  top:0;
  left:0;
  position: absolute;
  opacity: 0;
  transition:all .5s linear;
}
.w .wimg .show{
  opacity: 1;
}
.w .w_1{
  width:990px;
  height:275px;
  background: #fff;
  float: left;
}
.w .w_1 ul{
  width:990px;
  height:275px;
  position: relative;
  margin:0;
  padding:0;
}
.w .w_1 ul li{
  width:190px;
  height:275px;
  list-style: none;
  float: left;
  border: 1px solid #000;
  margin: 0 3px;
}
.w .w_1>ul>li>a>img{
  width:140px;
  height:140px;
  margin:40px 26px 0; 
}
/*时尚达人*/
.h{
  margin:20px auto;
  width: 1190px;
  height:65px;
  position: relative;
}
.h .h_1{
  width:250px;
  height:45px;
  font-size: 28px;
  margin:0 auto;
  line-height: 45px;
  position: relative;
}
.h_1 h3{
  margin:0;
  margin-left:60px;
} 
.h_1 .h_left:before{
  left:0;
}
.h_1 .h_right:before{
  right:0;
}
.h_1 .h_2:before{
  content: '';
  width: 50px;
  height: 3px;
  display: block;
  background: #222;
  top: 22px;
  position:absolute;
}
.i{
  width:1190px;
  height:480px;
  margin:0 auto;
}
/*时尚达人第一个模块*/
.i .i_1{
  float: left;
  width:390px;
  height:450px;
  margin:0 10px 30px 0;
  background:#fff;
  position: relative;
}
.i .i_right1{
  float: right;
  margin:0;
  background:rgb(240,243,239);
}
.i .i_2{
  height:60px;
  padding:0 20px;
}
.i .i_a{
  height: 40px;
  margin: 8px 0 0 0;
  text-decoration: none;/*去除下划线*/
  position: relative;
}
.i .i_h3{
  margin:0;
  float: left;
  font-size: 22px;
  color: #222;
  line-height: 44px;
}
.i_a .i_img{
  float: left;
  position: absolute;
  width: 23px;
  height: 23px;
  top: 11px;
  left: 4px;
  background-image: url('../img/下载.png');
}
.i .i_text{
  float: left;
  font-size: 14px;
  color: #999;
  height: 20px;
  margin: 15px 0 0 35px;
}
.i .i_3{
  width:350px;
  height:180px;
  margin:0 auto;
}
.i .i_bai{
  width:350px;
  height:180px;
  margin:-180px auto 0 20px;
  position: absolute;
}
.i .i_bai:hover{
  animation: donghua2 0.5s;
  animation-fill-mode:forwards; 
}
.i .i_3_top{
  margin:10px auto;
  position: relative;
}
.i .i_4{
  width:170px;
  height:180px;
}
.i .i_bai2{
  width:170px;
  height:180px;
  position: absolute;
}
.i .i_bai3{
  width:170px;
  height:180px;
  margin:0px 0 0 180px;
  position: absolute;
}
.i .i_bai3:hover{
  animation: donghua2 0.5s;
  animation-fill-mode:forwards;
}
.i .i_bai2:hover{
  animation: donghua2 0.5s;
  animation-fill-mode:forwards;
}
.i .i_3_img{
  width:100%;
  height:100%;
}
.i .i_4_left{
  float: left;
}
.i .i_4_right{
  float: right;
}
.i .i_back1:before{
  content: '';
  display: block;
  width: 340px;
  height: 420px;
  border: solid 5px #333;
  margin-top: 20px;
  margin-left: 40px;
}
.i .i_7_img{
  float: left;
}
.i .i_bai4{
  width:340px;
  height:420px;
  position: absolute;
  margin:-450px 0 0 0;
}
.i .i_bai4:hover{
  animation: donghua2 0.2s;
  animation-fill-mode:forwards;
}
@keyframes donghua2{
  0%{background: rgba(255, 255, 255, 0);}
  100%{background:rgba(255, 255, 255, 0.1);}
}
/*时尚达人 第二模块 */
.i_1 .i2_width{
  padding-top: 20px;
  padding-left: 20px;
  height: 18px;
  font-size: 18px;
  line-height: 18px;
}
.i .i_h4{
  float: left;
  color: #222;
  font-weight: normal;
  margin: 0;
}
.i .i2_text{
  float: left;
  color: #999;
  font-size: 14px;
  vertical-align: 1px;
}
.i .i_1_2{
  float: left;
  width:390px;
  height:450px;
  margin:0 10px 30px 0;
}
.i .i_1_2 .i_bai5{
  width:340px;
  height:420px;
  position: absolute;
  margin:-450px 0 0 50px;
}
.i .i_1_2 .i_bai5:hover{
  animation: donghua2 0.2s;
  animation-fill-mode:forwards;
}
.i .i_right2{
  float: right;
  margin:0;
  background:#fff;
}
.i .i_back2:before{
  content: '';
  display: block;
  width: 340px;
  height: 420px;
  border: solid 5px #333;
  margin-top: 20px;
  margin-left: -1px;
}
.i .i_8_img{
  float: right;
}
.i .i2{
  width:390px;
  height:164px;
  padding-top:20px;
}
.i_1 .i2_1_left{
  float: left;
  width: 130px;
  height: 130px;
  margin:0 25px;
}
.i_1 .i2_1_left .i_bai6{
  float: left;
  width: 130px;
  height: 130px;
  position: absolute;
  margin:-133px 0 0 0;
}
.i_1 .i2_1_left .i_bai6:hover{
  animation: donghua2 0.2s;
  animation-fill-mode:forwards;
}
.hr{
  width:340px;
  height: 1px;
  background:#f3f2f1;
  margin:auto;
}
/*时尚达人 第二栏 第三个模块*/
.i .i3_text{
  margin: 15px 0 0 0;
}
.i .i3_img1{
  background-image: url('../img/时尚达人/时尚达人13.png');
}
.i .i3_img2{
  background-image: url('../img/时尚达人/时尚达人14.png');
}
.i .i3_width1{
  width:116px;
  height:178px;
  float: left;
}
.i .i3_span{
  width: 49px;
  height:17px;
  background-color: #e4393c;
  border: 1px solid #e4393c;
  color: #000;
  font-size: 12px;
  margin-left:12px;
  padding:2px 2px;
}
.i .i3_i{
  background: #fff;
  color: #e4393c;
  padding:1px 2px;
}
.i .i3_p{
  font-size: 14px;
  line-height: 22px;
  font-weight: bold;
  color: #fff;
  padding: 20px 14px 0 14px;
  text-decoration: none;
}
.i3_width1 .i3_p_a{
  text-decoration: none;
}
.i .i3_width2{
  width:232px;
  height:178px;
  float: left;
}
.i .i3_ul{
  padding:0px;
}
.i .i3_li{
  list-style: none;
  float: left;
}
.i .i3_li a{
  text-decoration: none;
}
.i .i3_li .i_bai7{
  width:90px;
  height:90px;
  position: absolute;
  margin:-94px 0 0 13px;
}
.i .i3_li .i_bai7:hover{
  animation: donghua2 0.2s;
  animation-fill-mode:forwards;
}
.i .i3_img3{
  margin:22px 13px 0 13px;
}
.i a .i3_jiage{
  font-size: 14px;
  line-height: 22px;
  color: #e4393c;
  margin:15px 0 0 28px;
}
/*时尚达人 第三栏*/
.i .i4_width1{
  width:350px;
  height:250px;
  margin:auto;
}
.i .i4_width1 .i_bai8{
  width:350px;
  height:250px;
  position: absolute;
  margin:-255px 0 0 0;
}
.i .i4_width1 .i_bai8:hover{
  animation: donghua2 0.2s;
  animation-fill-mode:forwards;
}
.i .i4_width2{
  width:350px;
  height:110px;
  margin:10px auto;
}
.i .i_3 .i_bai1_1{
  width: 350px;
  height: 180px;
  margin: -183px auto 0 auto;
   position: absolute;
}
.i .i4_width2 .i_bai9{
  width:110px;
  height:110px;
  position: absolute;
  margin:-115px 0 0 0;
}
.i .i4_width2 .i_bai10{
  width:110px;
  height:110px;
  position: absolute;
  margin:-115px 0 0 120px;
}
.i .i4_width2 .i_bai11{
  width:110px;
  height:110px;
  position: absolute;
  margin:-115px 0 0 240px;
}
.i .i_4_left .i_bai12{
  width:170px;
  height:180px;
  position: absolute;
  margin:-184px 0 0 0px;
}
.i .i_4_right .i_bai12{
  width:170px;
  height:180px;
  position: absolute;
  margin:-184px 0 0 0px;
}
.i .i_right1 .i_bai13{
  width:340px;
  height:200px;
  position: absolute;
}
.i .i_right1 .i_bai14{
  width:340px;
  height:200px;
  position: absolute;
	margin:220px 0 0 0;
}
.i .i_3 .i_bai1_1:hover{
  animation: donghua2 0.2s;
  animation-fill-mode:forwards;
}
.i .i_right1 .i_bai14:hover{
  animation: donghua2 0.2s;
  animation-fill-mode:forwards;
}
.i .i_right1 .i_bai13:hover{
  animation: donghua2 0.2s;
  animation-fill-mode:forwards;
}
.i .i_4_right .i_bai12:hover{
  animation: donghua2 0.2s;
  animation-fill-mode:forwards;
}
.i .i_4_left .i_bai12:hover{
  animation: donghua2 0.2s;
  animation-fill-mode:forwards;
}
.i .i4_width2 .i_bai9:hover{
  animation: donghua2 0.2s;
  animation-fill-mode:forwards;
}
.i .i4_width2 .i_bai10:hover{
  animation: donghua2 0.2s;
  animation-fill-mode:forwards;
}
.i .i4_width2 .i_bai11:hover{
  animation: donghua2 0.2s;
  animation-fill-mode:forwards;
}
.i .i_27_img{
  float: left;
  margin-top:20px;
}
.i_back1 .i4_back{
  height: 20px;
  width:350px;
  margin-top: -250px;
}
/*智能先锋*/
/*智能先锋 第一栏 第一模块*/
.i .iz_width1{
  width:350px;
  height:178px;
  margin:auto;
}
.i .iz_width2{
  float: left;
  width:87px;
  height:58px;
  margin:auto;
}
/*智能先锋 第一栏 第二模块*/
.i .iz_width3{
  width:350px;
  height:370px;
  margin:auto;
}
.i .iz_width3 .i_bai15{
  width:350px;
  height:370px;
  margin:-380px auto 0 auto;
	position: absolute;
}
.i .i_right1 .i_bai16{
  width:340px;
  height:420px;
	position: absolute;
}
.i .i_right1 .i_bai16:hover{
  animation: donghua2 0.2s;
  animation-fill-mode:forwards;
}
.i .iz_width3 .i_bai15:hover{
  animation: donghua2 0.2s;
  animation-fill-mode:forwards;
}
/*智能先锋 第二栏 第一模块*/
.i .iz_6_img{
  float: right;
  margin-top:25px;
}
.i .iz_x{
  float: right;
  width:350px;
  height:25px;
  margin-top:-250px;
}
.i .i_1_2 .i_bai17{
  width:340px;
  height:200px;
	position: absolute;
	margin:0 0 0 50px;
}
.i .i_1_2 .i_bai18{
  width:340px;
  height:200px;
	position: absolute;
	margin:225px 0 0 50px;
}
.i .i_3 .i_bai19{
  width:350px;
  height:180px;
	position: absolute;
	margin:-185px auto 0 auto;
}
.i .i_3_top .i_bai20{
  width:350px;
  height:180px;
	position: absolute;
	margin:0px auto 0 auto;
}
.i .i_3 .i_bai19:hover{
  animation: donghua2 0.2s;
  animation-fill-mode:forwards;
}
.i .i_1_2 .i_bai18:hover{
  animation: donghua2 0.2s;
  animation-fill-mode:forwards;
}
.i .i_1_2 .i_bai17:hover{
  animation: donghua2 0.2s;
  animation-fill-mode:forwards;
}
/* 生活百货 第一栏 第二模块*/
.i .is_img1{
  background-image:url('../img/生活百货/生活百货4.png'); 
}
.i .is_img2{
  background-image:url('../img/生活百货/生活百货5.png'); 
}
/* 居家优品 第二栏 第一模块*/
.i .i_1_2 .i_bai22{
  width:340px;
  height:420px;
  position: absolute;
  margin: 0 0 0 50px;
}
.i .i_1_2 .i_bai22:hover{
  animation: donghua2 0.2s;
  animation-fill-mode:forwards;
}  
.i .ij_img1{
  background-image:url('../img/居家优品/居家优品8.png'); 
}
.i .ij_img2{
  background-image:url('../img/生活百货/生活百货5.png'); 
}
/*JOY 寻宝*/
.j{
  width:1190px;
  height:500px;
  margin:0 auto;
}
.j>.j_1{
  width:390px;
  height:240px;
  margin:0px 10px 10px 0px;
  background: #fff;
  float: left;
}
.j_1 .j_1_1{
  width:390px;
  height:240px;
  position: relative;
}
.j_2 .j_1_1{
  width:390px;
  height:240px;
  position: relative;
}
.j>.j_2{
  width:390px;
  height:240px;
  background: #fff;
  float: right;
}
.j_1 .j1{
  width:390px;
  height:100px;
  background: #000;
  opacity: 0.4;
}
.j_2 .j1{
  width:390px;
  height:100px;
  background: #000;
  opacity: 0.4;
}
.j_1 .j1_img1{
  width:390px;
  height:100px;
  position: absolute;
}
.j_2 .j1_img1{
  width:390px;
  height:100px;
  position: absolute;
}
.j_1_1 .j1_text{
  width:390px;
  position: absolute;
  margin:0;
  top:39px;
  color:#fff;
  text-align: center;
  font-size: 18px;
}
.j_1_1 .j1_text span{
  font-weight: normal;
}
.j_1 .j_1_2{
  width:360px;
  height:110px;
  margin:10px 15px 0px 15px;
}
.j_1 .j_1_2 a{
  text-decoration: none;
}
.j_1 .j_1_2 .i_bai25{
  width:110px;
  height:110px;
  position: absolute;
  margin: -110px 0 0 0;
}
.j_1 .j_1_2 .i_bai26{
  width:110px;
  height:110px;
  position: absolute;
  margin: -110px 0 0 120px;
}
.j_1 .j_1_2 .i_bai27{
  width:110px;
  height:110px;
  position: absolute;
  margin: -110px 0 0 241px;
}
.j_1 .j_1_2 .i_bai25:hover{
  animation: donghua2 0.2s;
  animation-fill-mode:forwards;
}
.j_1 .j_1_2 .i_bai26:hover{
  animation: donghua2 0.2s;
  animation-fill-mode:forwards;
}
.j_1 .j_1_2 .i_bai27:hover{
  animation: donghua2 0.2s;
  animation-fill-mode:forwards;
}
.j_2 .j_1_2{
  width:360px;
  height:110px;
  margin:10px 15px 0px 15px;
}
.j_2 .j_1_2 a{
  text-decoration: none;
}
.j_2 .j_1_2 .i_bai25{
  width:110px;
  height:110px;
  position: absolute;
  margin: -110px 0 0 0;
}
.j_2 .j_1_2 .i_bai26{
  width:110px;
  height:110px;
  position: absolute;
  margin: -110px 0 0 120px;
}
.j_2 .j_1_2 .i_bai27{
  width:110px;
  height:110px;
  position: absolute;
  margin: -110px 0 0 241px;
}
.j_2 .j_1_2 .i_bai25:hover{
  animation: donghua2 0.2s;
  animation-fill-mode:forwards;
}
.j_2 .j_1_2 .i_bai26:hover{
  animation: donghua2 0.2s;
  animation-fill-mode:forwards;
}
.j_2 .j_1_2 .i_bai27:hover{
  animation: donghua2 0.2s;
  animation-fill-mode:forwards;
}
.j_1 .j_1_2 img{
  margin-right:6px;
}
.j_2 .j_1_2 img{
  margin-right:6px;
}
/* club直播  */
.k{
  width:1190px;
  height:455px;
  margin:0 auto;
}
.k .k1{
  width:390px;
  height:425px;
  background: #fff;
  margin:0 10px 30px 0px;
  float: left;
}
.k .k2{
  width:390px;
  height:425px;
  background: #fff;
  margin:0 0px 30px 0px;
  float: right;
}
/* club直播 */
.k1 .k1_1{
  width:360px;
  height:400px;
  margin:15px;
}
/*club 第一模块*/
.k1 .k1_1 .k1_1_1{
  width:170px;
  height:190px;
  margin:5px;
  float: left;
  background-image:url('../img/club直播/club直播1.png'); 
  position: relative;
}
.k1 .k1_1 .k1_1_2{
  float: right;
  background-image:url('../img/club直播/club直播3.png'); 
}
.k1 .k1_1 .k1_1_3{
  background-image:url('../img/club直播/club直播4.png'); 
}
.k1 .k1_1 .k1_1_4{
  background-image:url('../img/club直播/club直播5.png'); 
}
.k1 .k1_1 .club_1{
  width:170px;
  height:190px;
}
.k1 .k1_1 .back{
  width:170px;
  height:190px;
  background: rgba(0,0,0,0.3);
}
.k1 .k1_1 .k1_1_1:hover .club_1>.back{
  background: rgba(0,0,0,0.1);
}
.k1_1_1 .k1_img{
  width: 44px;
  height: 44px;
  margin:70px 0 0 63px;
  position: absolute;
}
.k1_1_1 .k1_p{
  font-size: 15px;
  margin:150px 13px;
  position: absolute;
  color:#fff;
}
.k1_1_2 .k1_p{
  margin:150px 32px;
}
.k1_1_3 .k1_p{
  margin:150px 38px;
}
.k1_1_4 .k1_p{
  margin:150px 68px;
}
/*club 第二模块*/
.k1 .k1_1 .k1_2{
  width:360px;
  height:400px;
  background-image:url('../img/club直播/club直播6.png'); 
  position: relative;
}
.k1 .k1_2 .club_2{
  widows:360px;
  height:400px;
}
.k1 .k1_2 .back2{
  width:360px;
  height:400px;
  background: rgba(0,0,0,0.3);
}
.k1 .k1_1 .k1_2:hover .club_2>.back2{
  background: rgba(0,0,0,0.1);
}
.k1_2 .k2_img{
  margin:165px 0 0 145px;
  position: absolute;
}
.k1_2 .k2_p{
  font-size: 20px;
  margin:330px 35px;
  position: absolute;
  color:#fff;
}
.k1_2 .k3_p{
  font-size: 14px;
  margin:360px 120px;
  position: absolute;
  color:#fff;
}
/*club 第三模块*/
.k2 .k1_1{
  width:360px;
  height:400px;
  margin:15px;
}
.k2 .k1_1 .k1_1_1{
  width:170px;
  height:190px;
  margin:5px;
  float: left;
  background-image:url('../img/club直播/club直播7.png'); 
  position: relative;
}
.k2 .k1_1 .k1_1_2{
  float: right;
  background-image:url('../img/club直播/club直播8.png'); 
}
.k2 .k1_1 .k1_1_3{
  background-image:url('../img/club直播/club直播9.png'); 
}
.k2 .k1_1 .k1_1_4{
  background-image:url('../img/club直播/club直播10.png'); 
}
.k2 .k1_1 .club_1{
  width:170px;
  height:190px;
}
.k2 .k1_1 .back{
  width:170px;
  height:190px;
  background: rgba(0,0,0,0.3);
}
.k2 .k1_1 .k1_1_1:hover .club_1>.back{
  background: rgba(0,0,0,0.1);
}
.k2 .k2_p{
  font-size: 15px;
  margin:150px 30px;
  position: absolute;
  color:#fff;
}
.k2 .k1_p{
  margin:150px 40px;
}

/*还没逛够*/
/*第一栏 第一个*/
.l{
  width:1190px;
  height:3150px;
  margin:0 auto;
}
.l .l1{
  width:1190px;
  height:3150px;
  padding: 0px;
  margin-top:0px;
  list-style: none;
}
.l .l1 .l_1{
  width:230px;
  height:305px;
  background: #fff;
  margin-right: 10px;
  margin-bottom:10px;
  float: left;
}
.l .l1 .l_1:hover{
  background: rgba(255,255,255,0.7);
}
.l .l1 .l_2{
  width:230px;
  height:305px;
  background: #fff;
  float: right;
}
.l .l1 .l_1 .l_a{
  width:230px;
  height:305px;
  text-decoration: none;
}
.l .l1 .l_1 .l_1_1{
  width:170px;
  height:170px;
  margin:30px 30px 20px;
}
.l .l1 .l_1 .l_text{
  width:230px;
  height: 65px;
  line-height: 24px;
  position: relative;
}
.l .l1 .l_1 .l_p{
  width:198px;
  height: 36px;
  margin:0px auto;
  font-size: 14px;
  line-height: 18px;
  overflow: hidden;
  color:#000;
}
.l .l1 .l_1 .l_a:hover .l_p{
  color:#f8b8b8;
}
.l .l1 .l_1 .l_text2{
  width:198px;
  height: 25px;
  font-size: 14px;
  color: #e33333;
  margin:12px auto;
}
.l .l1 .l_1 .l_span{
  margin:0 65px;
}
.l .l1 .l_1 .l_yuan{
  width:65px;
  height:65px;
  border-radius: 50%;
  background:rgb(100,100,100);
  margin:-74px 81px;
  position: absolute;
 }
.l .l1 .l_1 .l_text .l_yuan{
  display: none;/*隐藏*/ 
}
.l .l1 .l_1 .l_a:hover .l_yuan{
  animation: donghua 0.7s;
  animation-fill-mode:forwards; 
  display: inline;/*显示*/
}
.l .l1 .l_1 .l_yuan>p{
  font-size: 13px;
  color:#fff;
  margin:21px 13px;
}
@keyframes donghua{
  0%{opacity: 0;}
  100%{opacity: 1;}
}
/*第一栏 第二个*/
.l .l_2_2{
  width:230px;
  height:305px;
  position: relative;
}
.l .l_bai{
  width:230px;
  height:305px;
  position: absolute;
  margin:-304px 0;
}
.l .l_bai:hover{
  animation: donghua2 0.5s;
  animation-fill-mode:forwards; 
}
@keyframes donghua2{
  0%{background: rgba(255,255,255,0);}
  100%{background: rgba(255,255,255,0.2);}
}
/*第一栏 第五个 最后一个*/
.l .l1 .l_2:hover{
  background: rgba(255,255,255,0.7);
}
.l .l1 .l_2 .l_a{
  width:230px;
  height:305px;
  text-decoration: none;
}
.l .l1 .l_2 .l_1_1{
  width:170px;
  height:170px;
  margin:30px 30px 20px;
}
.l .l1 .l_2 .l_text{
  width:230px;
  height: 65px;
  line-height: 24px;
  position: relative;
}
.l .l1 .l_2 .l_p{
  width:198px;
  height: 36px;
  margin:0px auto;
  font-size: 14px;
  line-height: 18px;
  overflow: hidden;
  color:#000;
}
.l .l1 .l_2 .l_a:hover .l_p{
  color:#f8b8b8;
}
.l .l1 .l_2 .l_text2{
  width:198px;
  height: 25px;
  font-size: 14px;
  color: #e33333;
  margin:12px auto;
}
.l .l1 .l_2 .l_span{
 margin:0 65px;
}
.l .l1 .l_2 .l_yuan{
  width:65px;
  height:65px;
  border-radius: 50%;
  background:rgb(100,100,100);
  margin:-74px 82px;
  position: absolute;
 }
.l .l1 .l_2 .l_text .l_yuan{
  display: none;/*隐藏*/  
}
.l .l1 .l_2 .l_a:hover .l_yuan{
  animation: donghua 0.7s;
  animation-fill-mode:forwards; 
  display: inline;/*显示*/
}
.l .l1 .l_2 .l_yuan>p{
  font-size: 13px;
  color:#fff;
  margin:21px 13px;
}
@keyframes donghua{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

/* 尾部 */
/* 尾部 四个商标 */
#z{
  width:100%;
  height:473px;
}
#z .z_1{
  width:100%;
  height:75px;
  border-bottom:1px solid #ccc; 
}
#z .z_1_1{
  width:1190px;
  height:42px;
  margin:25px auto 0 auto;
}
#z .z_1_1 ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#z .z_1_1 ul li{
  float: left;
  width: 297px;
  height: 42px;
}
#z .z_1_1 ul li:last-child{
  float: right;
  width: 297px;
  height: 42px;
}
#z .z_1_1 ul li img{
 float: left;
 margin:0 12px 0 35px;
}
#z .z_1_1 ul li p{
  margin:0;
  margin-top:8px;
  font-size: 20px;
  font-weight: 700;
}
/* 内容 */
#z .z_2{
  width:100%;
  height:200px;
}
#z .z_2 .z_2_2{
  width:1190px;
  height:160px;
  margin:20px auto 0 auto;
}
.z_2 .z_2_2 .z_2_1{
  float: left;
  width:198px;
  height:159px;
}
.z_2 .z_2_2 .z_2_1 h4{
  margin:0;
}
.z_2 .z_2_2 .z_2_1 ul{
  list-style: none;
  margin:0;
  padding: 0;
}
.z_2 .z_2_2 .z_2_1 ul li{
  margin:2px;
}
.z_2 .z_2_2 .z_2_1 ul li a{
  text-decoration: none;
  color:#666;
  font-size: 14px;
}
.z_2 .z_2_2 .z_2_1 ul li a:hover{
  color:#fd0505;
}
.z_2 .z_2_2 .z_img{
  background-image:url("../img/尾部/尾部5.png"); 
}
.z_2 .z_2_2 .z_img h4{
  text-align: center;
  font-size: 14px;
}
.z_2 .z_2_2 .z_text{
  width:200px;
  height:73px;
  margin:20px auto;
}
.z_2 .z_2_2 .z_text p{
  margin:0;
  font-size: 13px;
  color:#666;
  margin-bottom:6px;
}
.z_2 .z_2_2 .z_text a{
  text-decoration: none;
  font-size: 12px;
  color:#666;
  float: right;
}
.z_2 .z_2_2 .z_text a:hover{
  color:#fd0505;
}
/*分界线*/
#z .z_hr{
  width:1190px;
  height:1px;
  margin:-20px auto 0 auto;
  background: #ccc;
}
#z .z_3{
  width:1190px;
  height:160px;
  margin: 10px auto;
  text-align: center;
}
#z .z_3 p{
  width:1190px;
  height:18px;
  margin: 0 auto;
}
#z .z_3 p a{
  color:#666;
  text-decoration: none;
  font-size: 12px;
}
#z .z_3 p span{
  margin:0 10px;
}
#z .z_3 p a:hover{
  color:#fd0505;
}
#z .z_3_p span{
  color:#666;
}


