body{
  margin:0;
  padding:0;
  list-style-type: none;
}
/*头上的导航栏*/ 
.a_1{
width: 100%;
height: 30px;
border: 1px solid #e3e4e5;
background: #e3e4e5;
box-shadow: 2px 2px 3px #ccc; /*阴影 四个值： 水平 垂直 散光 颜色*/
} 
.a_1 .a_1_1{
width:1190px;
height: 30px;
margin:0 auto;
}
.a_1 .a_1_1 ul{
float: right;
list-style: none;
width:718px;
height: 30px;
margin:0;
padding: 0;
}
.a_1 .a_1_1 ul>li>a{
text-decoration: none;
color: #999;
font-size: 12px;
}
.a_1 .a_1_1 ul>li{
margin:3px 3px 0 8px;
float: left;
}
.a_1_1 .a_1_1_a1:hover{
color: #fd0505;
}
.a_1_1 #a_1_1_a2{
color: #fd0505;
}
.a_1_1 .a_1_1_span{
color: #999;
margin: 0;
}
/* 商标 和 搜索框 */
.b_1{
  width:1210px;
  height: 87px;
  margin:0 auto;   
}
.b_1 .b_2{
 width:276px;
 height:50px;
 margin:15px 0 22px 0;
 float: left;  
}
.b_1 .b_2 a{
  text-decoration: none; 
 }
.b_1 .b_3{
  width:584px;
  height:40px;
  margin:18px 30px 0 105px;
  float: left; 
}
.b_3 .b_3_1{
  width:584px;
  height: 36px;
}
.b_3_1 input{
  width:500px;
  height: 30px;
}
.b_3_1 .b_text{
  width:80px;
  height: 36px;
  float: right;
  background: #fd0505;
  text-align: center;
  line-height: 34px;
  font-size: 16px;
  color:#fff;
}
.b_1 .b_4{
  width:140px;
  height:36px;
  margin:20px 0 0 0;
  background: #F9F9F9;
  float: right; 
}
.b_4 a{
  text-decoration: none;
}
.b_4 a>div{
  color:#fd0505;
  font-size: 15px;
  margin:5px 0 0 18px;
}
.b_1 .b_5{
  width:623px;
  height: 20px;
  margin:0 0 0 380px;
}
.b_5 a{
  text-decoration: none;
}
.b_5 ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.b_5 ul .b_li{
  color:#fd0505;
}
.b_5 ul li{
  float: left;
  margin-right:20px; 
  font-size: 12px;
  color:#666;
}
.b_5 ul li:hover{
  color:#fd0505;
}
/* 导航栏 */
.c{
  width:1210px;
  height: 44px;
  margin:5px auto 0 auto;
  border-bottom:3px solid  #fd0505;
}
.c .c_1{
  width:210px;
  height: 44px;
  background: #fd0505;
  position: relative;
}
.c .c_1 .c_1_1{
  width:130px;
  height: 25px;
  margin:8px 38px;
  position: absolute;
}
.c_1 .c_1_1 span{
  font-size:20px;
  color: #fff;
}
.c_1 ul{
  margin:0;
  padding: 0;
  list-style: none;
  width:994px;
  height:44px;
  margin-left: 215px;
}
.c_1 ul li a{
  float: left;
  color: #666;
  font-size: 18px;
  margin:8px 40px 0 20px;
}
.c_1 ul li a{
  text-decoration: none;
}
.c_1 ul li:hover a{
  color: #fd0505;
}
/* 尾部css样式 */
#z{
  width:100%;
  height:473px;
}
#z .z_1{
  width:100%;
  height:75px;
  border-bottom:1px solid #ccc; 
}
#z .z_1_1{
  width:1190px;
  height:42px;
  margin:25px auto 0 auto;
}
#z .z_1_1 ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#z .z_1_1 ul li{
  float: left;
  width: 297px;
  height: 42px;
}
#z .z_1_1 ul li:last-child{
  float: right;
  width: 297px;
  height: 42px;
}
#z .z_1_1 ul li img{
 float: left;
 margin:0 12px 0 35px;
}
#z .z_1_1 ul li p{
  margin:0;
  margin-top:8px;
  font-size: 20px;
  font-weight: 700;
}
/* 内容 */
#z .z_2{
  width:100%;
  height:200px;
}
#z .z_2 .z_2_2{
  width:1190px;
  height:160px;
  margin:20px auto 0 auto;
}
.z_2 .z_2_2 .z_2_1{
  float: left;
  width:198px;
  height:159px;
}
.z_2 .z_2_2 .z_2_1 h4{
  margin:0;
}
.z_2 .z_2_2 .z_2_1 ul{
  list-style: none;
  margin:0;
  padding: 0;
}
.z_2 .z_2_2 .z_2_1 ul li{
  margin:2px;
}
.z_2 .z_2_2 .z_2_1 ul li a{
  text-decoration: none;
  color:#666;
  font-size: 14px;
}
.z_2 .z_2_2 .z_2_1 ul li a:hover{
  color:#fd0505;
}
.z_2 .z_2_2 .z_img{
  background-image:url("../img/尾部/尾部5.png"); 
}
.z_2 .z_2_2 .z_img h4{
  text-align: center;
  font-size: 14px;
}
.z_2 .z_2_2 .z_text{
  width:200px;
  height:73px;
  margin:20px auto;
}
.z_2 .z_2_2 .z_text p{
  margin:0;
  font-size: 13px;
  color:#666;
  margin-bottom:6px;
}
.z_2 .z_2_2 .z_text a{
  text-decoration: none;
  font-size: 12px;
  color:#666;
  float: right;
}
.z_2 .z_2_2 .z_text a:hover{
  color:#fd0505;
}
/*分界线*/
#z .z_hr{
  width:1190px;
  height:1px;
  margin:-20px auto 0 auto;
  background: #ccc;
}
#z .z_3{
  width:1190px;
  height:160px;
  margin: 10px auto;
  text-align: center;
}
#z .z_3 p{
  width:1190px;
  height:18px;
  margin: 0 auto;
}
#z .z_3 p a{
  color:#666;
  text-decoration: none;
  font-size: 12px;
}
#z .z_3 p span{
  margin:0 10px;
}
#z .z_3 p a:hover{
  color:#fd0505;
}
#z .z_3_p span{
  color:#666;
}
/* 导航栏下面的图片 */
.d{
  width:1210px;
  height:152px;
  margin:0 auto;
}
/* 导航栏下面的小导航 */
.e{
  width:1210px;
  height:120px;
  border: 1px solid #ddd;
  margin:20px auto 0 auto;
}
/* 品牌 */
.e .e_1{
  width:110px;
  height:120px;
  background: #f3f3f3;
  position: relative;
  float: left;
}
.e .e_1_1{
  width:110px;
  height: 34px;
  margin-top:8px;
  position: absolute;
}
.e_1_1 span{
  font-size: 15px;
  color:#666;
  margin-left:10px;
}
/* 品牌 右边的 */
.e .e_2{
  width:1098px;
  height:119px;
  float: right;
}
.e_2 .e_2_1{
  width:960px;
  height:109px;
  margin:7px 0 0 10px;
}
.e_2 .e_2_1 ul{
  list-style: none;
  margin:0;
  padding: 0;
}
.e_2 .e_2_1 .li_1{
  width:118px;
  height:50px;
  border: 1px solid #ddd;
  float: left;
  position: relative;
}
.e_2 .e_2_1 a{
  text-decoration: none;
}
.e_2 .e_2_1 .li_1:hover{
  border: 1px solid #fd0505;
}
.e_2 .e_2_1 .li_1:hover img{
  display: none;
}
.e_2 .e_2_1 .li_1:hover p{
  display: block;
}
.e_2_1 .li_1 img{
  width:114px;
  height: 46px;
  margin:1px 2px;
  position: absolute;
}
.e_2_1 .li_1 P{
  font-size: 12PX;
  color: #fd0505;
  margin:15px 0 0 12px;
  position: absolute;
  display: none; 
}
.e_2_1 .li_1 .li_p{
  width:118px;
  font-size: 12PX;
  color: #fd0505;
  margin:15px 0;
  position: absolute;
  display: none; 
}
.e_2_1 .li_1 .li_p_1{
  width:118px;
  font-size: 12PX;
  color: #fd0505;
  margin:15px 0 0 45px;
  position: absolute;
  display: none; 
}
/* 价格 */
.f{
  width:1210px;
  height:35px;
  border-left:1px solid #ddd;
  border-right:1px solid #ddd;
  border-bottom:1px solid #ddd;
  margin:0 auto;
}
.f .f_1{
  width:110px;
  height:35px;
  background: #f3f3f3;
  float: left;
  position: relative;
}
.f .f_1_1{
  width:110px;
  height:35px;
  position: absolute;
  margin-top:7px;
}
.f_1_1 span{
  font-size: 15px;
  color: #999;
  margin-left: 10px;
}
/* 价格 右边的 */
.f .f_2{
  width:959px;
  height: 34px;
  margin:0 0 0 10px;
  float: left;
}
.f_2 ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.f_2 ul li{
  float: left;
  margin: 6px 20px 0 10px;
  font-size: 15px;
  color:#005aa0;
}
.f_2 ul li:hover{
  color:#fd0505;
}
.f_2 li input{
  width:40px;
}
.f_2 .li_input:hover{
  cursor: pointer; /* 改变鼠标的样式 小手 */
}
/* 适用人群 */
.g{
  width:1210px;
  height:35px;
  border-left:1px solid #ddd;
  border-right:1px solid #ddd;
  border-bottom:1px solid #ddd;
  margin:0 auto;
}
.g .g_1{
  width:110px;
  height:35px;
  background: #f3f3f3;
  float: left;
  position: relative;
}
.g .g_1_1{
  width:110px;
  height:35px;
  position: absolute;
  margin-top: 7px;
}
.g .g_1_1 span{
  font-size: 15px;
  color: #999;
  margin-left: 10px;
}
/* 适用人群 右边的 */
.g_2 ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.g_2 ul li{
  float: left;
  margin: 6px 20px 0 10px;
  font-size: 15px;
  color:#005aa0;
}
.g_2 ul li:hover{
  color:#fd0505;
}
/* 商品种类 */
.h{
  width:1210px;
  height:35px;
  border-left:1px solid #ddd;
  border-right:1px solid #ddd;
  border-bottom:1px solid #ddd;
  margin:0 auto;
}
.h .h_1{
  width:110px;
  height:35px;
  background: #f3f3f3;
  float: left;
  position: relative;
}
.h .h_1 .h_1_1{
  width:110px;
  height:35px;
  position: absolute;
  margin-top:7px;
}
.h .h_1_1 span{
  font-size: 15px;
  color: #999;
  margin-left: 10px;
}
/* 商品种类 右边的 */
.h_2 ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.h_2 ul li{
  float: left;
  margin: 6px 20px 0 10px;
  font-size: 15px;
  color:#005aa0;
}
.h_2 ul li:hover{
  color:#fd0505;
}
/* 适用季节 */
.i{
  width:1210px;
  height:35px;
  border-left:1px solid #ddd;
  border-right:1px solid #ddd;
  border-bottom:1px solid #ddd;
  margin:0 auto;
}
.i .i_1{
  width:110px;
  height:35px;
  background: #f3f3f3;
  float: left;
  position: relative;
}
.i .i_1 .i_1_1{
  width:110px;
  height:35px;
  position: absolute;
  margin-top:7px;
}
.i .i_1_1 span{
  font-size: 15px;
  color: #999;
  margin-left: 10px;
}
/* 适用季节 右边的 */
.i_2 ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.i_2 ul li{
  float: left;
  margin: 6px 20px 0 10px;
  font-size: 15px;
  color:#005aa0;
}
.i_2 ul li:hover{
  color:#fd0505;
}
/* 适用场景 */
.j{
  width:1210px;
  height:35px;
  border-left:1px solid #ddd;
  border-right:1px solid #ddd;
  border-bottom:1px solid #ddd;
  margin:0 auto;
}
.j .j_1{
  width:110px;
  height:35px;
  background: #f3f3f3;
  float: left;
  position: relative;
}
.j .j_1 .j_1_1{
  width:110px;
  height:35px;
  position: absolute;
  margin-top:7px;
}
.j .j_1_1 span{
  font-size: 15px;
  color: #999;
  margin-left: 10px;
}
/* 适用场景 右边的 */
.j_2 ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.j_2 ul li{
  float: left;
  margin: 6px 20px 0 10px;
  font-size: 15px;
  color:#005aa0;
}
.j_2 ul li:hover{
  color:#fd0505;
}
/* 导航栏下面的小导航 综合排序 */
.k{
  width:1210px;
  height: 40px;
  margin:20px auto;
  background: #f3f3f3;
}
.k .k_1{
  width:290px;
  height:25px;
  margin: 6px 8px 5px 8px;
  float: left;
}
.k .k_1 .k_a{
  text-decoration: none;
  background: #fd0505;
  padding-bottom:4px; 
}
.k .k_1 .k_span{
  font-size: 12px;
  color:#fff;
  margin: 0 8px 0 8px;
}
.k .k_1 .k_span:hover{
  color:#fff;
}
.k .k_1 a{
  text-decoration: none;
  padding-bottom:4px;
  border-right: 1px solid #999;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  background: #fff;
}
.k .k_1 a:hover{
  border: 1px solid #fd0505;
}
.k .k_1 span{
  font-size: 12px;
  color:#000;
  margin: 0 8px 0 8px;
}
.k .k_1 span:hover{
  color:#fd0505;
} 
/* 导航栏下面的小导航 共几个商品 */
.k .k_2{
  width:245px;
  height:26px;
  float: right;
  margin: 6px 8px 5px 8px;
}
.k_2 span{
  font-size: 15px;
  margin-right:2px;
}
.k_2 span b{
  color: #fd0505;
}
.k_2 a{
  text-decoration: none;
  color: #666;
  font-size: 20px;
  border:1px solid #999; 
  padding: 0 5px 0 5px;
}
.k_2 a:hover{
  color: #fd0505;
  border:1px solid #fd0505; 
}
/* 内容 */
.l{
  width:1210px;
  height: 1850px;
  margin:0 auto;
}
.l ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.l ul li{
  width:236px;
  height: 441px;
  border: 1px solid #fff;
  float: left;
  margin: 0 2px 16px 2px;
}
.l ul li:hover{
  border: 1px solid #fd0505;
}
.l ul li a{
  text-decoration: none;
}
/* 图片 */
.l .l_1{
  width:234px;
  height:429px;
  padding-top:9px; 
}
.l .l_1 .l_1_1{
  width:220px;
  height:282px;
  margin:0 auto;
}
/* 价格 */
.l .l_1 .l_1_2{
  width:222px;
  height:22px;
  margin:0 auto 9px auto;
}
.l_1 .l_1_2 strong{
  font-size: 20px;
  color:#e4393c;
}
.l_1 .l_1_2 strong em{
  font-size: 15px;
}
/* 文字 商品名字 */
.l .l_1 .l_1_3{
  width:222px;
  height:18px;
  margin:0 auto 8px auto;
  overflow: hidden; /* 溢出隐藏 */
  word-break: break-all;
  word-wrap: break-word;
  position: relative;
}
.l .l_1 .l_1_3 a{
  text-decoration: none;
}
.l .l_1 .l_1_3 span{
  position: absolute;
  color:#666;
  font-size: 12px;
  margin:0 1px 0 1px;
}
.l .l_1 .l_1_3 span:hover{
  color:#fd0505;
}
/* 已有多少人评价 */
.l .l_1 .l_1_4{
  position: relative;
  width:222px;
  height:18px;
  margin:0 auto 9px auto;
}
.l_1 .l_1_4 strong{
  position: absolute;
  margin:0 1px 0 1px;
}
.l_1 .l_1_4 strong a{
  text-decoration: none;
}
.l_1 .l_1_4 strong{
  color:#a7a7a7;
  font-size: 12px;
}
/* 自营 */
.l .l_1 .l_1_5{
  width:28px;
  height:16px;
  margin:0 0 8px 6px;
  background: #fd0505;
  position: relative;
}
.l .l_1 .l_1_5 span{
  position: absolute;
  font-size: 12px;
  color:#fff;
  margin:0 1px 0 2px;
}
/* 关注和加入购物车 */
.l .l_1 .l_1_6{
  width:222px;
  height:27px;
  margin:0 auto;
}
/* 关注 */
.l_1 .l_1_6 .l_a{
  width:57px;
  height:27px;
  border: 1px solid #ddd;
  position: relative;
}
.l_1 .l_1_6 a{
  text-decoration: none;
}
.l_1 .l_1_6 .l_a .l_a_img1{
  position: absolute;
  margin:5px 0 0 3px;
}
.l_1 .l_1_6 .l_a .l_a_img2{
  position: absolute;
  display: none;
}
.l_1 .l_1_6 .l_a span{
  position: absolute;
  color:#666;
  font-size: 14px;
  margin:3px 0 0 24px;
}
.l_1 .l_1_6 .l_a:hover{
  border: 1px solid #fd0505;
}
.l_1 .l_1_6 .l_a:hover span{
  color:#fd0505;
}
.l_1 .l_1_6 .l_a:hover .l_a_img2{
  animation: donghua 0.3s;
  animation-fill-mode:forwards; 
  display: inline;/*显示*/
}
@keyframes donghua{
  0%{margin:15px 0 0 3px;}
  100%{margin:5px 0 0 3px;}
}
/* 加入购物车 */
.l_1_6 .l_a2{
  width:96px;
  height:27px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  position: relative;
  margin:-29px 0 0 58px;
}
.l_1_6 .l_a2 a{
  text-decoration: none;
}
.l_1_6 .l_a2 img{
  position: absolute;
  margin:4px 0 0 2px;
}
.l_1_6 .l_a2 span{
  position: absolute;
  color:#666;
  font-size: 14px;
  margin: 4px 0 0 24px;
}
.l_1_6 .l_a2:hover{
  border: 1px solid #fd0505;
}
.l_1_6 .l_a2:hover span{
  color:#fd0505;
}

























