/* 头上的导航栏 */
.a_1{
  width: 100%;
  height: 30px;
  border: 1px solid #e3e4e5;
  background: #e3e4e5;
  box-shadow: 2px 2px 3px #ccc; /*阴影 四个值： 水平 垂直 散光 颜色*/
  } 
  .a_1 .a_1_1{
  width:1190px;
  height: 30px;
  margin:0 auto;
  }
  .a_1 .a_1_1 ul{
  float: right;
  list-style: none;
  width:718px;
  height: 30px;
  margin:0;
  padding: 0;
  }
  .a_1 .a_1_1 ul>li>a{
  text-decoration: none;
  color: #999;
  font-size: 12px;
  }
  .a_1 .a_1_1 ul>li{
  margin:3px 3px 0 8px;
  float: left;
  }
  .a_1_1 .a_1_1_a1:hover{
  color: #fd0505;
  }
  .a_1_1 #a_1_1_a2{
  color: #fd0505;
  }
  .a_1_1 .a_1_1_span{
  color: #999;
  margin: 0;
  }
  /* 商标 和 搜索框 */
  .b_1{
    width:1210px;
    height: 87px;
    margin:0 auto;   
  }
  .b_1 .b_2{
   width:276px;
   height:50px;
   margin:15px 0 22px 0;
   float: left;  
  }
  .b_1 .b_2 a{
    text-decoration: none; 
   }
  .b_1 .b_3{
    width:584px;
    height:40px;
    margin:18px 30px 0 105px;
    float: left; 
  }
  .b_3 .b_3_1{
    width:584px;
    height: 36px;
  }
  .b_3_1 input{
    width:500px;
    height: 30px;
  }
  .b_3_1 .b_text{
    width:80px;
    height: 32px;
    float: right;
    background: #fd0505;
    text-align: center;
    line-height: 34px;
    font-size: 16px;
    color:#fff;
    margin:-31px 5px 0 0;
  }
  .b_1 .b_4{
    width:140px;
    height:36px;
    margin:20px 0 0 0;
    background: #F9F9F9;
    float: right; 
  }
  .b_4 a{
    text-decoration: none;
  }
  .b_4 a>div{
    color:#fd0505;
    font-size: 15px;
    margin:5px 0 0 18px;
  }
  .b_1 .b_5{
    width:623px;
    height: 20px;
    margin:0 0 0 380px;
  }
  .b_5 a{
    text-decoration: none;
  }
  .b_5 ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .b_5 ul .b_li{
    color:#fd0505;
  }
  .b_5 ul li{
    float: left;
    margin-right:20px; 
    font-size: 12px;
    color:#666;
  }
  .b_5 ul li:hover{
    color:#fd0505;
  }

/* 内容的尺寸 */
#main{
  margin:20px auto 20px auto;
  height: 600px;
}
#main .container{
  width: 1190px;
  height: 600px;
}
#main .container .row{
  height: 600px;
}
/* 标题的样式 */
#details .font-weight-bold{
  color:#666;
}
/* 副标题的样式 */
#details .text-dark{
  color:#e4393c;
  text-decoration: none;
}
/* 内容 */
#details .alert a{
  text-decoration: none;
}
#details .alert div{
  margin: 10px 0 10px 0; 
}
#details p{
  margin:20px 0 10px 0;
}
#details .chima{
  margin:20px 0 25px 0;
}
#details .mt-2{
  margin:0 0 30px 0;
}
/*定制尺寸参数按钮的颜色*/
#details>div:nth-child(5)>div .btn-outline-secondary:hover{
  color:#0069d9;
  background-color:#f5f5f5;
  /*border-color:#e4393c; */
}
#details>div:nth-child(5)>div .btn-outline-secondary.active{
  color:#6c757d;
  background-color:#f5f5f5;
  border-color:#e4393c;
  border-width:2px;
}
/*定制数量按钮的颜色*/
#details>div:nth-child(6) .btn-outline-secondary{
  width:30px;
}
#details>div:nth-child(6) .btn-outline-secondary:hover,
#details>div:nth-child(6) .btn-outline-secondary:active,
#details>div:nth-child(6) .btn-outline-secondary:focus{
  color:#6c757d;
  background-color:#f5f5f5;
  border-color:#0069d9;
  box-shadow: none;
}
/*定制立即购买按钮背景色*/
#details>div:nth-child(7)>a:first-child{
  background:#e4393c;
}
#details>div>.ww{
  background:#e4393c;
}

#details>div:nth-child(7)>a:first-child:hover{
  background:#f30213;
}
#details>div>.ww:hover{
  background:#f30213;
}

#details>div:nth-child(7)>a:first-child h5{
  color:#fff;
}
#details>div>.ww h5{
  color:#fff;
}
#details>div>.ww H5 img{
  margin:0px 8px 0 -5px;
}
/*定制放大镜样式*/
#preview>.card>.card-body>div{
  width:248px;
  overflow:hidden;
}
#preview>.card>.card-body>div>ul{
  transition:all .5s linear;
}
#preview>.card>.card-body>div>ul>li{
  width:62px; height:62px;
}
#preview>.card>.card-body>div>ul img{
  width:52px; height:52px;
}
#preview>.card>.card-body>div>ul img:hover{
  border:1px solid #e4393c;
}
#preview>div>img{width:354px}
#mask{
  width:178px; height:176px;
  background-color:#ffa;
  opacity:.5;
}
#super-mask{
  width:400px; height:450px;
}
#div-lg{
  width:485px; height:530px;
  left:360px;
  z-index:1000;
  border: 1px solid rgba(0, 0, 0, 0.125)
}

/* 图片 */
.tupian{
  width: 1250px;
  height: 10070px;
  margin:0 auto;
}