body{
  margin:0;
  padding: 0;
}
/* 头顶的导航栏 */
.a_1{
  width: 100%;
  height: 30px;
  border: 1px solid #e3e4e5;
  background: #e3e4e5;
  box-shadow: 2px 2px 3px #ccc; /*阴影 四个值： 水平 垂直 散光 颜色*/
} 
.a_1 .a_1_1{
  width:1190px;
  height: 30px;
  margin:0 auto;
}
.a_1 .a_1_1 ul{
  float: right;
  list-style: none;
  width:718px;
  height: 30px;
  margin:0;
  padding: 0;
}
.a_1 .a_1_1 ul>li>a{
 text-decoration: none;
 color: #999;
 font-size: 12px;
}
.a_1 .a_1_1 ul>li{
  margin:3px 3px 0 8px;
  float: left;
}
.a_1_1 .a_1_1_a1:hover{
  color: #fd0505;
}
.a_1_1 #a_1_1_a2{
  color: #fd0505;
}
.a_1_1 .a_1_1_span{
  color: #999;
  margin: 0;
}

 /* 商标 和 搜索框 */
 .b_1{
  width:1210px;
  height: 87px;
  margin:0 auto;   
}
.b_1 .b_2{
 width:276px;
 height:50px;
 margin:15px 0 22px 0;
 float: left;  
}
.b_1 .b_2 a{
  text-decoration: none; 
 }
.b_1 .b_3{
  width:584px;
  height:40px;
  margin:18px 30px 0 105px;
  float: left; 
}
.b_3 .b_3_1{
  width:584px;
  height: 36px;
}
.b_3_1 input{
  width:500px;
  height: 27px;
}
.b_3_1 .b_text{
  width:80px;
  height: 32px;
  float: right;
  background: #fd0505;
  text-align: center;
  line-height: 34px;
  font-size: 16px;
  color:#fff;
  margin:-33px 5px 0 0;
}
.b_1 .b_5{
  width:623px;
  height: 20px;
  margin:0 0 0 380px;
}
.b_5 a{
  text-decoration: none;
}
.b_5 ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.b_5 ul .b_li{
  color:#fd0505;
}
.b_5 ul li{
  float: left;
  margin-right:20px; 
  font-size: 12px;
  color:#666;
}
.b_5 ul li:hover{
  color:#fd0505;
}

/* 内容 */
.c{
  width: 990px;
  height: 1000px;
  margin:10px auto;
}
/* 内容下面的 全选 和 商品 */
.d{
  width: 990px;
  height: 43px;
  background:#f3f3f3;
  color:#666;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
/* 全选 */
.d1{
  width: 122px;
  height: 18px;
  padding-top: 10px;
  padding-left: 15px;
  float: left;
}
/* 商品 */
.d2{
  width: 208px;
  height: 32px;
  padding-top: 10px;
  float: left;
}
.d3{
  width: 210px;
  height: 32px;
  padding-top: 10px;
  float: left;
}
.d4{
  width: 120px;
  height: 32px;
  padding-top: 10px;
  padding-right: 40px;
  text-align: right;
  float: left;
}
.d5{
  width: 80px;
  height: 32px;
  padding-top: 10px;
  text-align: center;
  float: left;
}
.d6{
  width: 80px;
  height: 32px;
  padding-top: 10px;
  padding-right: 40px;
  text-align: right;
  float: left;
}
.d7{
  width: 75px;
  height: 32px;
  padding-top: 10px;
  float: left;
}
/* 内容 */
.e{
  width: 990px;
  height: 174px;
  border:1px solid #ccc;
}
.e .e1{
  width: 990px;
  height: 30px;
  border-bottom:2px solid #666; 
}
.e .e2{
  width: 740px;
  height: 26px;
}
.e .e2 a{
  text-decoration: none;
  color: #666;
  font-size: 14px;
}
.e .e2 a:hover{
  color: #fd0505;
}
/* 线 */
.e .e3{
  width: 950px;
  height: 1px;
  background:#ccc;
  float: right;
}
/* 商品的内容 */
.e .e4{
  width: 30px;
  height: 25px;
  padding-top:15px;
  padding-bottom: 10px;
  float: left;
}
.e .e5{
  width: 300px;
  height: 107px;
  padding-top:15px;
  padding-bottom: 10px;
  float: left;
}
.e .e5 img{
  width: 80px;
  height: 80px;
  margin-right: 10px;
  float: left;
}
.e .e5 .e5_1{
  width: 208px;
  height: 65px;
  float: left;
  overflow: hidden;
}
.e .e5_1 a{
  text-decoration: none;
}
.e .e5 .e5_1 span{
  font-size: 12px;
  color: #666;
}
.e .e5 .e5_1 span:hover{
  color: #fd0505;
}
.e .e6{
  width: 150px;
  height: 50px;
  padding-top:15px;
  padding-left: 20px;
  float: left;
  margin-top:16px;
}
.e .e6 span{
  font-size: 12px;
  color: #666;
}
.e .e7{
  width: 140px;
  height: 90px;
  padding:15px 40px 10px 0;
  float: left;
}
.e .e7 .e7_1{
  width: 175px;
  height: 20px;
  text-align: right;
}
.e .e7 .e7_1 p{
  padding: 0;
  margin:0;
}
.e .e7 .e7_1 a{
  text-decoration: none;
  color:#fd0505;
  font-size: 12px;
  border: 1px solid #fd0505;
}
.e .e8{
  width: 113px;
  height: 67px;
  float: left;
}
.e .e8 .e8_1{
  width: 98px;
  height: 22px;
  margin:12px auto 0 auto;
}
.e .e8 .e8_2{
  width: 40px;
}
.e .e8 span{
  font-size: 14px;
  color:#666;
}
.e .e9{
  width: 90px;
  height: 45px;
  float: left;
  padding:15px 0 10px 0;
}
.e .e9 p{
  text-align: center;
  padding: 0;
  margin:0;
}
.e .e10{
  width: 95px;
  height: 65px;
  float: left;
}
.e .e10 a{
  text-decoration: none;
  color:#666;
  font-size: 14px;
}.e .e10 a:hover{
  color:#fd0505;
}
/* 结算 */
.f{
  width: 988px;
  height: 50px;
  border: 1px solid #ccc;
  margin-top:20px;
}
.f .f1{
  width: 54px;
  height: 50px;
  float: left;
  font-size: 14px;
  line-height: 50px;
}
.f .f2{
  width: 282px;
  height: 50px;
  float: left;
  line-height: 50px;
}
.f .f2 a{
  text-decoration: none;
  color:#000;
  font-size: 14px;
}
.f .f2 a:hover{
  color:#fd0505;
}
.f .f3{
  width: 650px;
  height: 50px;
  float: right;
}
.f .f3 .f3_2{
  width: 125px;
  height: 43px;
  font-size: 18px;
  float: right;
  margin:14px 0 0 0;
}
.f .f3 .f3_2 a{
  text-decoration: none;
  color:#fd0505;
  font-weight: 700;
}
.f .f3_1{
  width: 94px;
  height: 52px;
  line-height: 52px;
  font-size: 18px;
  float: right;
  background: #fd0505;
}
.f .f3_1 a{
  text-decoration: none;
}
.f .f3_1 p{
  padding: 0;
  margin:0;
  color: #fff;
  text-align: center;
  font-weight: 700;
}

/* 尾部 */
/* 尾部 四个商标 */
#z{
  width:100%;
  height:473px;
}
#z .z_1{
  width:100%;
  height:75px;
  border-bottom:1px solid #ccc; 
}
#z .z_1_1{
  width:1190px;
  height:42px;
  margin:25px auto 0 auto;
}
#z .z_1_1 ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#z .z_1_1 ul li{
  float: left;
  width: 297px;
  height: 42px;
}
#z .z_1_1 ul li:last-child{
  float: right;
  width: 297px;
  height: 42px;
}
#z .z_1_1 ul li img{
 float: left;
 margin:0 12px 0 35px;
}
#z .z_1_1 ul li p{
  margin:0;
  margin-top:8px;
  font-size: 20px;
  font-weight: 700;
}
/* 内容 */
#z .z_2{
  width:100%;
  height:200px;
}
#z .z_2 .z_2_2{
  width:1190px;
  height:160px;
  margin:20px auto 0 auto;
}
.z_2 .z_2_2 .z_2_1{
  float: left;
  width:198px;
  height:159px;
}
.z_2 .z_2_2 .z_2_1 h4{
  margin:0;
}
.z_2 .z_2_2 .z_2_1 ul{
  list-style: none;
  margin:0;
  padding: 0;
}
.z_2 .z_2_2 .z_2_1 ul li{
  margin:2px;
}
.z_2 .z_2_2 .z_2_1 ul li a{
  text-decoration: none;
  color:#666;
  font-size: 14px;
}
.z_2 .z_2_2 .z_2_1 ul li a:hover{
  color:#fd0505;
}
.z_2 .z_2_2 .z_img{
  background-image:url("../img/尾部/尾部5.png"); 
}
.z_2 .z_2_2 .z_img h4{
  text-align: center;
  font-size: 14px;
}
.z_2 .z_2_2 .z_text{
  width:200px;
  height:73px;
  margin:20px auto;
}
.z_2 .z_2_2 .z_text p{
  margin:0;
  font-size: 13px;
  color:#666;
  margin-bottom:6px;
}
.z_2 .z_2_2 .z_text a{
  text-decoration: none;
  font-size: 12px;
  color:#666;
  float: right;
}
.z_2 .z_2_2 .z_text a:hover{
  color:#fd0505;
}
/*分界线*/
#z .z_hr{
  width:1190px;
  height:1px;
  margin:-20px auto 0 auto;
  background: #ccc;
}
#z .z_3{
  width:1190px;
  height:160px;
  margin: 10px auto;
  text-align: center;
}
#z .z_3 p{
  width:1190px;
  height:18px;
  margin: 0 auto;
}
#z .z_3 p a{
  color:#666;
  text-decoration: none;
  font-size: 12px;
}
#z .z_3 p span{
  margin:0 10px;
}
#z .z_3 p a:hover{
  color:#fd0505;
}
#z .z_3_p span{
  color:#666;
}